<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--MYSQL-->
        <property name="hibernate.dialect">${hibernate.dialect}</property>
        <property name="hibernate.connection.driver_class">${jdbc.connection.driver_class}</property>
        <property name="hibernate.connection.url">${jdbc.connection.url}</property>
        <property name="hibernate.connection.username">${jdbc.connection.username}</property>
        <property name="hibernate.connection.password">${jdbc.connection.password}</property>
        <property name="hibernate.connection.pool_size">${jdbc.connection.pool_size}</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Update the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping resource="/model/AuthenticationDetails.hbm.xml"/>
        <mapping resource="/model/ReservationDetails.hbm.xml"/>
        <mapping resource="/model/SensorDetails.hbm.xml"/>
        <mapping resource="/model/Image.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
